
.about-text {
    font-size: 30px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: start;
    padding: 20px;
    margin: 150px 0 20px 0;
}
.about-text-frame {
    width: auto;
    height: auto;
    background: rgb(211, 211, 211);
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
}
.about-text-frame h2 {
    font-size: 30px;
}
.about-text-frame p {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
}