@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif;
}
.nav-frame {
    display: none;
    width: 200px;
    height: 300px;
    position: absolute;
    background: transparent;
    z-index: 2;
}
.nav-button{
    width: 200px;
    height: 80px;
    background: transparent;
    padding: 10px;
    display: none;
}
#all-button {
    width: 200px;
    height: auto;
    background: black;
    display: inline-block;
    font-size: 30px;
    display: none;
}
.nav-for-phone {
    width: 200px;
    height: 50px;
    background: black;
    color: white;
    border: none;
}
.nav-for-phone:hover {
    color: black;
    background: white;
}
#menu-button {
    font-size: 30px;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}
ul.fall {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
}
ul.fall li {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    background: green;
    animation: fallAnimation 15s linear infinite;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul.fall li:nth-child(1) {
    left: 25%;
    width: 40px;
    height: 40px;
    background: green;
    animation-delay: 4s;
}
ul.fall li:nth-child(2) {
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 10%;
    background: #527853;
    animation-delay: 4s;
}
ul.fall li:nth-child(3) {
    left: 10%;
    width: 60px;
    height: 60px;
    background: #B31312;
    animation-delay: 0s;
}
ul.fall li:nth-child(4) {
    left: 20%;
    width: 30px;
    height: 30px;
    background: green;
    animation-delay: 6s;
}
ul.fall li:nth-child(5) {
    left: 80%;
    width: 40px;
    height: 40px;
    background: #B31312;
    animation-delay: 0s;
}
ul.fall li:nth-child(6) {
    left: 35%;
    width: 50px;
    height: 50px;
    background: #527853;
    animation-delay: 1s;
}
ul.fall li:nth-child(7) {
    left: 60%;
    width: 80px;
    height: 80px;
    background: #B31312;
    animation-delay: 2s;
}
@keyframes fallAnimation {
    from {
        transform: translateY(-10vh) rotateZ(0deg);
        opacity: 0.8;
    }
    to {
        transform: translateY(110vh) rotateZ(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
.menu {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 80px;
    background: black;
    /*border-bottom: 1px solid black;*/
    position: relative;
    z-index: 1;
}
.tools {
    width: 600px;
    height: 90px;
    /*background: green;*/
}
li {
    display: flex;
    justify-content: center;
    align-items: end;
}
li.nav-bar{
    width: 500px;
}
button {
    cursor: pointer;
    transition: color 0.5s ease;
}
button.nav {
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 200px;
    height: 40px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}
button.nav:hover {
    background: white;
    color: black;
    transition: color 0.5s ease;
}
.light {
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
}
.item {
    margin: 0 20px 20px 20px;
    width: 100px;
    height: 200px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: top;
    z-index: 0;
}
.item-1 {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 100px;
    background: black;
}
.item-rope-1 {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 50px;
    background: black; 
}
.item-rope-2 {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 70px;
    background: black;
}
.item-rope-3 {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 50px;
    background: black;
}
.item-rope-4 {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 80px;
    background: black;
}
.item-rope-5 {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 110px;
    background: black;
}
.item-rope-6 {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 40px;
    background: black;
}
.circlesClass{
    background: #B31312;
}
#circles {
    margin-top: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#circles-1 {
    margin-top: 50px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#circles-2 {
    margin-top: 70px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#circles-3 {
    margin-top: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#circles-4{
    margin-top: 80px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#circles-5{
    margin-top: 110px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#circles-6{
    margin-top: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.NewY-text {
    width: 100%;
    height: 400px;
    background: transparent;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text {
    width: 1000px;
    height: 400px;
    /*background: red;*/
    display: inline-block;
    line-height: 150px; 
    text-align: center;
    font-size: 60px;
    z-index: 1;
    opacity: 1;
    animation: animation-opacity 2s ease;

}
#play-button {
    width: 100%;
    height: 80px;
    /*background: red;*/
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;  
    animation: animation-opacity 2s ease;
}

@keyframes animation-opacity {
    0% {
        opacity: 0;
        transition: opacity 2s ease;
    }
    100% {
        opacity: 1;
    }
}
@media (max-width: 600px) {
    li.nav-bar {
        width: 400px;
    }
    .light {
        width: 90%;
    }
    #temp1{
        display: none;
    }
    #temp2{
        display: none;
    }
    #temp3 {
        display: none;
    }
    #temp4 {
        display: none;
    }
    #item3 {
        display: none;
    }
    #item4 {
        display: none;
    }
    #item5 {
        display: none;
    }
    #item6{
        display: none;
    }
    .text {
        margin-top: 150px;
        font-size: 30px;
        line-height: 100px;
    }
}


@media (max-width: 500px) {
    .nav-frame {
        display: block;
    }
    .nav-button {
        display: block;
    }
    #all-button {
        display: none;
    }
    .text {
        height: 300px;
    }
    .contact-frame_2 {
        padding: 50px;
        width: 90%;
        height: 1150px;
    }
    .contact-data {
        width: 250px;
        margin: 15px;
    }
    #contact-img_1 {
        margin-left:25%;
    }
    .contact-frame {
        margin-top: 400px;
    }
    .headLine {
        width: 100px;
    }
    .menu {
        width: 100%;
        align-items: start;
        justify-content: start;
    }
    #question-hover {
        font-size: 17px;
    }
    .text-explain h2 {
        width: 250px;
        z-index: 0;
    }
    #text-pic {
        font-size: 40px;
    }
    .seeText {
        width: 350px;
    }
    .prayBox {
        width: 350px;
    }
    .tools {
        width: 100px;
        display: none;
    }
    li.nav-bar {
        width: 100px;
    }
    li {
        justify-content: start;
    }
    #show-text-random {
        width: 80%;
    }
    .show-data {
        width: 200px;
    }
    #show-text-random {
        width: 90%;
    }
    .show-data {
        width: 300px;
        height: 500px;
    }
}

/*********************Pray Page*************************/
.text-explain {
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: start;
    /*background: red;*/
    justify-content: start;
    font-size: 30px;
    margin: 120px 0 0 20px;
}
.text-explain h2 {
    z-index: 1;
}
.icon {
    margin: 5px 0 0 5px;
    display: flex;
    z-index: 1;
}
.icon:hover + #question-hover,
#question-hover:hover {
    display: flex;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
    z-index: 1;
}

#question-hover {
    border-radius: 20px;
    border: 1px solid black;
    display: none;
    padding: 5px;
    justify-content: start;
    align-items: start;
    text-align: left;
    font-size: 25px;
    width: 300px;
    height: 100px;
    margin-left: 5px;
    opacity: 0;
    pointer-events: none;
}
.prayBox {
    width: auto;
    height: 500px;
    margin-top: 15px;
    /*background: pink;*/
    display: flex;
    justify-content: center;
}
.inpBox {
    width: 50%;
    height: 400px;
    /*background: green;*/
    position: relative;
    display: flex;
    justify-content: center;
}
.headLine {
    width: 800px;
    height: 20px;
    background: black;
    border-radius: 20px;
    z-index: 1;
}
.textWrite {
    position: absolute;
    width: 700px;
    height: 400px;
    background: rgb(255, 61, 61);
    z-index: 0;
    border: 2px solid black;
    border-radius: 40px;
    display: inline-block;
    padding: 10px;
    animation: animation-textWrite 2s ease;
}
.text_inside_textWrite h2{
    font-size: 60px;
    margin: 10px 0 10px 45%;
    color: rgb(0, 0, 0);
}
.confirm {
    color: black;
    width: 100px;
    height: 50px;
    margin-left: 80%;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    transition: color 0.5s ease;
    animation: animation-opacity 4s ease;
}
.confirm:hover {
    background: black;
    border: 1px solid white;
    color: white;
    transition: color 0.5s ease;
}

#show-text-random {
    width: 100%;
    height: 600px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: transparent;
    position: fixed;
    z-index: 3;
}
.show-data {
    width: 600px;
    height: 500px;
    background: rgb(255, 61, 61);
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px;
}
.exit-button {
    width: auto;
    height: 20px;
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 30px;
}
.exit-button .fa-solid:hover {
    color: #B31312;
}
.show-textData {
    width: 80%;
    height: 400px;
    margin: 20px;
    background: white;
    border-radius: 30px;
}
@keyframes animation-textWrite {
    0% {
        height: 0px;
        transition: height 2s ease;
    }
    100% {
        height: 400px;
    }
}
@keyframes animation-all-text {
    0% {
        height: 0px;
        transition: height 2s ease;
    }
    100% {
        height: 200px;
    }
}
@media (max-width: 400px) {
    .textWrite {
        width: 300px;
    } 
    .all-text {
    width: 250px;
    }
    .confirm {
        margin-left: 30%;
    }
    .text_inside_textWrite h2 {
        margin: 10px 0 10px 40%;
    }
    .text-explain {
        font-size: 20px;
    }
    #question-hover {
        font-size: 20px;
    }
    .pic {
        height:300px;
    }
    .frame {
        width: 200px;
        height: 200px;
    }
    #img1 {
        display: none;
    }
    #img2 {
        display: none;
    }
}

